
body{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display:flex;
    margin: 0px;
}

.background-blur{
    width: 100%;
    height: 650px;

 /* asignó la imagen de fondo*/
 background-image: url(/img/interior-casa-indonesia.png);

 /*Para centrar la imagen vertical y horizontal  */
 background-position: center center;   
 
 /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
 background-attachment: fixed;

 /*aplicamos COVER en el tamanyo para que la imagen se escale al mayor tamaño posible. */
 background-size: cover;

 /* aplicamos el filtro blur para difuminar o desenfocar la imagen de fondo*/
 filter: blur(10px);
 /* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
 background-color: #fce4a1;
}

.contenedor{
    width: 100%;
    height: 530px;
    margin: 2px;
    /*display: flex permite que la imagen se coloque sobre el background-blur*/
    display:flex;
    /*sentrar la imagen en la mita del background*/
    justify-content: center;
    align-items: center;
    position: absolute;
}

.contenedor > .contenedor-img-casa{
    width: 80%;
    height: 100%;
    min-width: 70%;
    min-height: 70%;
    position:initial;
}

#imgCasa{

    width: 80%;
    height: 98%;
    padding:0px;
    margin: 10px;
    border-bottom-left-radius: 56px 293px;
    border-bottom-right-radius: 70px 170px;
    border-top-left-radius: 100px 55px;
    border-top-right-radius: 100px 50px;
   
    position: absolute;
}

#imgMarco{

    width: 82%;
    height: 102%;
    padding: 0px;
    margin: 0px;   
    position: absolute;
}

.contenedor > .contenedor-img-casa > .cajas{
    width: 200px;
    height: 100px;
    background-color: #fbb125;
    background-blend-mode: luminosity;
    border: 2px solid #c87406;
    border-radius: 21px;
    box-shadow: 0px 25px 20px 0px #ffc65b inset;
    position: relative;
}