
body{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display:flex;
    margin: 0px;
}

.background-blur{
    width: 100%;
    height: 900px;

 /* asignó la imagen de fondo*/
 background-image: url(/img/interior-casa-indonesia.png);

 /*Para centrar la imagen vertical y horizontal  */
 background-position: center center;   
 
 /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
 background-attachment: fixed;

 /*aplicamos COVER en el tamanyo para que la imagen se escale al mayor tamaño posible. */
 background-size: cover;

 /* aplicamos el filtro blur para difuminar o desenfocar la imagen de fondo*/
 filter: blur(10px);
 /* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
 background-color: #fce4a1;
}

.contenedor{
    width: 100%;
    height: 530px;
    margin: 2px;
    /*display: flex permite que la imagen se coloque sobre el background-blur*/
    display:flex;
    /*sentrar la imagen en la mita del background*/
    justify-content: center;
    align-items: center;
    position: absolute;
}

.contenedor > .contenedor-img-casa{
    width: 80%;
    height: 100%;
    min-width: 70%;
    min-height: 70%;
    position:initial;
}

#imgCasa{

    width: 80%;
    height: 98%;
    padding:0px;
    margin: 10px;
    border-bottom-left-radius: 46px 517px;
    border-bottom-right-radius: 72px 292px;
    border-top-left-radius: 100px 55px;
    border-top-right-radius: 100px 50px;
   
    position: absolute;
}

#imgMarco{

    width: 82%;
    height: 102%;
    padding: 0px;
    margin: 0px;   
    position: absolute;
}
#imgMarcoBlur{

    width: 82%;
    height: 102%;
    padding: 0px;
    margin: 0px;   
    position: absolute;
   filter: blur(10px);
}


.contenedor > .contenedor-img-casa > .cajas{
    width: 260px;
    height: 14%;

    /*text-align: center;*/

    padding: 5px;
    margin:30px;
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: #fbb125;
    border: 2px solid #c87406;
    border-radius: 30px;
    box-shadow: 0px 25px 20px 0px #ffc65b inset;

    position: relative;
    filter:opacity(95%)
}
#caja1{
    top:90px;
    left:-100px;
}

#caja2{
    height: 21%;
    top:-20%;
    left:55%;
}

#caja3{
    /*Posición de el botón*/
    top:-55%;
    left:85%;
}

#caja4{
    width: 300px;
    height: 70px;

    /*Posición de el botón*/
    top: 30%;
    left:35%;

    background-color: #4fbcdb;
    border: 2px solid #59ccec;
    box-shadow: 0px 25px 20px 0px #c3e6f1 inset;

    padding: 10px;
    margin:10px;
    display:flex;
    justify-content:space-around;
    align-items: center;

    border-bottom-left-radius: 70px 70px;
    border-bottom-right-radius: 70px 70px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;

    position:relative;
}

h3{
    font-family:'Bookman Old Style';
    font-style: italic;
    font-variant: small-caps;
    font-size: 21px;
}

.contenedor > .contenedor-img-casa > .button{

        background-color: Transparent;
        font-size: 150px;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        filter:opacity(0%);
        position:relative;
}

#button1{
    width: 290px;
    height: 25%;

    bottom: 79%;
    right: 7%;

}


#button2{
    width: 280px;
    height: 30%;

    bottom: 91%;
    left: 32%;
    
}

#button3{
    width: 280px;
    height: 25%;

    bottom: 100%;
    left: 36.8%;
}


#button4{
    width: 350px;
    height: 25%;

    bottom: 20%;
    left: 35%;
}

